<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="static/css/styles.css">
  </head>
    <body>
    <center>
      <h1>Prediction & Analysis</h1>
      <h3>Of</h3>
      <h2>Liver Paitent Data</h2>
      <div class="rectangle">
        <br>
        <br>
        <form action="/data_predict" method="post">

    <input type="text" ib="Age" placeholder="Age " name="Age"><br>
<br>
<input type="text" ib="Gender" placeholder="Gender (Male:1 , female:0)" name="Gender"><br>
<br>
<input type="text" ib="Total_Bilirubin" placeholder="Total_Bilirubin" name="Total_Bilirubin"><br>
<br>
<input type="text" ib="Direct_Bilirubin" placeholder="Direct_Bilirubin" name="Direct_Bilirubin"><br>
<br>
<input type="text" ib="Alkaline_Phosphotase" placeholder="Alkaline_Phosphotase" name="Alkaline_Phosphotase"><br>
<br>
<input type="text" ib="Alamine_Aminotransferase" placeholder="Alamine_Aminotransferase" name="Alamine_Aminotransferase"><br>
<br>
<input type="text" ib="Aspartate_Aminotransferase" placeholder="Aspartate_Aminotransferase" name="Aspartate_Aminotransferase"><br>
<br>
<input type="text" ib="Total_Protiens" placeholder="Total_Protiens" name="Total_Protiens"><br>
<br>
<input type="text" ib="Albumin" placeholder="Albumin" name="Albumin"><br>
<br>
<input type="text" ib="Albumin_and_Globulin_Ratio" placeholder="Albumin_and_Globulin_Ratio" name="Albumin_and_Globulin_Ratio"><br>
<br>
<br>

<button type="submit" class="registerbtn">
  <a>Predict</a>
</button>
</form>
</center>
</div>


  </body>
</html>
