<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="static/css/ptwo.css">
</head>
<body>
<h1>Prediction & Analysis Of Liver Paitent Data</h1>
<hr>
<h2>Context :</h2>
<ul>
  <h4><li>Patients with Liver disease have been continuously increasing because of excessive consumption of alcohol, inhale of harmful gases, intake of contaminated food, pickles and drugs.</li>
  <li>Prediction of the disease in the human being is the very long and difficult process in early days.</li>
  <li>This dataset was used to evaluate prediction algorithms in an effort to reduce burden on doctors.</li>
  <li>Here we are using the liver paitent data to determine which patients have liver disease and which ones do not.</li></h4>
</ul>
<hr>
<h3>Click here to Predict</h3>

<button type="button" name="button">
  <a href="/predict">Start</a>
</button><br>
<br>
<hr>
<h2>Project done by :</h2>
<ol>
  <h3>
  <li>P.Sathvik Raju</li>
  <li>R.Varun</li>
  <li>S.Sai Revanth</li>
  <li>H.N.Vinay Reddy</li>
</h3>
</ol>
<hr>
<br>
<center>_____________******____________</center>
